<div class="conta">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
		<form [formGroup]="loginform">
				<div class="login-form">
					<div class="control-group">
					<input type="text" class="login-field" formControlName="email" placeholder="Email" >
					<label class="login-field-icon fui-user" for="email"></label>
					</div>

					<div class="control-group">
					<input type="password" class="login-field" formControlName="password" placeholder="password">
					<label class="login-field-icon fui-lock" for="password"></label>
					
					</div>
					<button type="button" (click)="login()" [disabled]="!loginform.valid" class="btn btn-warning">Iniciar sesión</button><br>
					<button type="button" (click)="Index()" class="btn btn-danger">Volver a Inicio</button>
				</div>
			</form>
		</div>
	</div>
</div>
         