<app-header></app-header>

<div class="container">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th>Name</th>
              <th>Description</th>
              <th>Base Price</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of listado" class="text-center">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.base_Price}}</td>
                <td>{{item.inventory}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
  
 